.navbar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar > li > a {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}
