.app__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.buttons__container {
  padding: 2rem;
  background-color: yellow;
  border: 1px solid black;
  display: flex;
  gap: 1rem;
}
