.home-page__container {
  width: 100%;
  height: 100%;
  grid-area: "body";
  display: flex;
  align-items: center;
  justify-content: center;
}

.drums-list__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
