.drum-brand-page__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.drums-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
